# send info to stderr?
debug=0

# auth token that has acccess to grab relevant incident details from PagerDuty
pdtoken=abc1234

# In PagerDuty Webhook config, add Custom Header named "Authentication" with this value:
pdauthtoken=changeme

# auth token that can update relevant events in zabbix
zabbixtoken=xyz6789

# zabbix URL for API
zabbixurl=https://zabbix.example.com/zabbix

# Add a comment with URL of PD incident to zabbix event when first triggered?
triggeredupdate=1

# Allow PD to (try to) close zabbix events when a PD incident is marked resolved?
resolvedupdate=1
