# debug levels (each includes whatever's in prior level):
# 0: only outputs if there's a problem (or for a ping test)
# 1: basic output of what it's doing
# 2: includes dumps of some data (kinda noisy)
# 3: potentially outputs sensitive data (api and auth tokens)
# 4: includes some bigger data dumps (very noisy)
# 5: stuff only useful for development work
debug=0

# auth token that has acccess to grab relevant incident details from PagerDuty
pdtoken=abc1234

# In PagerDuty Webhook config, add Custom Header named "Authentication" with this value:
pdauthtoken=changeme

# auth token that can update relevant events in zabbix
zabbixtoken=xyz6789

# zabbix URL for API
zabbixurl=https://zabbix.example.com/zabbix
# Specify multiple times if you have multiple zabbix-web instances you want it to try:
zabbixurl=https://zabbix1.example.com/zabbix
zabbixurl=https://zabbix2.example.com/zabbix

# Output "success" header early, regardless of how well we do.
# Useful to prevent PagerDuty from disabling the WebHook if you have intermittent problems.
superearlysuccess=1

# How many times to try each zabbix URL before trying next or giving up:
zabbixretries=1

# Add a comment with URL of PD incident to zabbix event when first triggered?
triggeredupdate=1

# Allow PD to (try to) close zabbix events when a PD incident is marked resolved?
resolvedupdate=1

# Have priority change in PD update the Severity in Zabbbix?
priorityupdate=1

# Zabbix severity levels for reference:
# NOTCLASSIFIED => 0,
# INFORMATION   => 1,
# WARNING       => 2,
# AVERAGE       => 3,
# HIGH          => 4,
# DISASTER      => 5,

# PD_Priority=Zabbix_Severity
# Needs to be updated if you change your priority levels in PD
# Can have more than one PD priority label map to the same zabbix severity
# level
# Example config is designed to work with stock P1-P5 PD priorities or with
# PD priorities set similarly to Zabbix Severities
priorities P5=1
priorities Info=1

priorities P4=2
priorities Low=2
priorities Warning=2

priorities P3=3
priorities Average=3

priorities P2=4
priorities High=4

priorities P1=5
priorities Crit=5
priorities Critical=5
priorities Disaster=5


# How to handle PD merge events.
# Valid choices:
# - merge (merge zabbix events to match PD)
# - ignore (do nothing)
# - resolve (try to close the child events)
pdmergeaction=merge
